header {
    width: 100%;
    height: 170px;
    background-color: #2b2b2b;
    box-shadow: 0 1px 5px #2b2b2b;
    .header__top {
      width: 100%;
      height: 60px;
      & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        object-position: center center;
      }
    }
    .header__center {
      width: inherit;
      height: 70px;
      display: flex;
      flex-flow: row;
      .header__center__logo {
        width: 15%;
        height: inherit;
        background-color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        padding-left: 20px;
      }
      .header__center__search {
        width: 70%;
        height: inherit;
        background-color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-right: 10px;
        & [type="text"] {
          width: 600px;
          height: 40px;
          background-color: #f0f0f1;
          border: unset;
          border-radius: 5px;
          &::placeholder {
            padding-right: 30px;
            outline: none;
            font-family: var(--fontfamaily);
          }
        }
      }
      .header__center__login {
        width: 15%;
        height: inherit;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        & a {
          display: block;
          width: 140px;
          height: 40px;
          border: 1px solid #e0e0e2;
          text-align: center;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 5px;
          text-decoration: none;
          font-family: var(--fontfamaily);
          font-size: 11px;
          color: black;
          font-weight: 600;
          border-radius: 5px;
          & span {
            display: inline-block;
            width: 2px;
            height: 15px;
            background-color: black;
          }
        }
        .line {
          display: inline-block;
          width: 1px;
          height: 30px !important;
          background-color: #e0e0e2;
        }
        .cart {
          all: unset;
          margin-top: 5px;
        }
      }
    }
    .header__menu {
      width: inherit;
      height: 40px;
      display: flex;
      flex-flow: row wrap;
      
      .right {
        padding-right: 20px;
        width: 80%;
        height: inherit;
        background-color: #ffffff;
        & nav {
          width: 100%;
          height: inherit;
          display: flex;
          flex-flow: row wrap;
          column-gap: 20px;
          .khode_menu{
            .submenu{
              z-index: 2;
              width: 70vw;
              height: 80vh;
              background-color: darkcyan;
              position: absolute;
              display: none;
              .sub__barik{
                width: 20%;
                height: 100%;
                background-color: #F0F0F1;
                overflow: auto;
                direction: ltr;
                position: relative;
                .sub__barik__items{
                  all: unset;
                  display: block;
                  width: 100%;
                  height: 40px;
                  a{
                    all: unset;
                    display: block;
                    text-align: right;
                    font-size: 12px;
                    color: #3f4064;
                    margin-right: 20px;
                  }
                  .text_v_svg{
                    direction: ltr;
                    svg{
                      position: absolute;
                      left: 180px;
                      top: 40px;
                      path{
                        fill: #3f4064;
                      }
                    }
                   a{
                    padding-left: 60px;
                    p{
                      all: unset;
                      direction: ltr;
                    }
                   }
                  }
                }
              }
            }
            &:hover .submenu{
              display: block;
            }
          }
          & div {
            width: fit-content;
            height: inherit;
            position: relative;
            svg{
              display: flex;
              flex-flow: row wrap;
              position: absolute;
              right: -14px;
              top:8px;
              path{
                transform: scale(0.8);
                display: flex;
                flex-flow: row wrap;
                fill: gray;
              }
            }
            & a {
              display: block;
              width: fit-content;
              padding: 0 5px;
              text-decoration: none;
              font-family: var(--fontfamaily);
              font-size: 12px;
              line-height: 40px;
              color: gray;
              display: flex;
              align-items: center;
              column-gap: 5px;
              &:hover {
                color: black;
                transition: 300ms;
              }
            }            
          }
        }
      }
      .left {
        width: 20%;
        height: inherit;
        display: flex;
        background-color: #ffffff;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        & h5 {
          font-family: var(--fontfamaily);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
  .active {
    font-weight: bold;
    font-size: 13px !important;
    color: black !important;
  }
  